<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Reading Room</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-white fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/mpage/"><img src="/static/image/RRoom.png" width="300" height="70"></a>
                <div class="collapse navbar-collapse " id="navbarResponsive" >
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/mpage/" >독서실소개</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/serv/">독서실서비스</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/info/">독서실안내</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/seat/">자리예약</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/login/">로그인/회원가입</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Portfolio Section-->
        <header class="masthead bg-white text-success text-center line-black">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="/static/image/infoi.png" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">독서실 안내</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light ">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0"> Reading Room Guide </p>
            </div>
        </header>

        <section class="page-section portfolio" id="info1">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line" ></div>
                    <img src="/static/image/only.png" >
                </div>
                <!-- Portfolio Grid Items-->

            </div>
        </section>

        <section class="page-section portfolio" id="info2">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line" ></div>
                    <img src="/static/image/open.png" >
                </div>
                <!-- Portfolio Grid Items-->

            </div>
        </section>

        <section class="page-section portfolio" id="info3">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line" ></div>
                    <img src="/static/image/cafe.png" >
                </div>
                <!-- Portfolio Grid Items-->

            </div>
        </section>

        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <h4><img src="/static/image/Reading.png" width="300" height="60"></h4>
                        <p>
                            상호 : (주)소소한
                            <br/>
                            개설/가맹문의 : 1234-1234 │ 제휴/기타문의 : qkrthgus02@kangwon.ac.kr
                            <br />
                            주소 : 서울특별시 중구 한강대로 416, 서울스퀘어 15층 101호(코멘토)
                            <br />
                            사업자 등록번호 : 123-45-67890
                            <br />
                        </p>
                    </div>

                    <!-- Footer About Text-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <br />
                        <h4> 고객센터 </h4>
                        <br/>
                        <p>
                            운영시간 : 평일 10시 ~ 18시 30분 (주말, 공휴일 제외)
                            <br />
                            점심시간 : 12시 30분 ~ 14시
                            <br />
                            기업 제휴 문의: qkrthgus02@kangwon.ac.kr
                            <br />

                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>qkrthgus02@kangwon.ac.kr</small></div>
        </div>
    </body>
</html>


