<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Reading Room</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{% static 'back.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <style>
            fieldset {
                width : 350px;
                padding : 20px;
                padding-bottom : 30px;
                padding-right : 30px;
                border : 3px solid;
            }
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-white fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/mpage"><img src="/static/image/RRoom.png" width="300" height="70"></a>
                <div class="collapse navbar-collapse " id="navbarResponsive" >
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/mpage/" >독서실소개</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/serv/">독서실서비스</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/info/">독서실안내</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/seat/">자리예약</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black" href="/login/">로그인/회원가입</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <br><br><br><br><br><br><br><br><br><br>
        </div>


            <div>
                <div align="center">
                <form action = "" name = "p_info" method="get">
                    <fieldset>
                        <legend> 회원가입 </legend>
                        <br><br>
                        <div align="center">
                            <input type="text" name = "p_id" size="16" placeholder="아이디"><br><br>
                        </div>
                        <div align="center">
                            <input type="password" name ="p_pw" size="16" placeholder="비밀번호 "><br><br>
                        </div>
                        <div align="center">

                            <input type="submit" value="회원가입" >
                            <div align = "right">
                            </div>
                        </div>
                    </fieldset>
                    <br><br><br><br><br><br><br><br>
                </form>
                </div>
            </div>




        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <h4><img src="/static/image/Reading.png" width="300" height="60"></h4>
                        <p>
                            상호 : (주)소소한
                            <br/>
                            개설/가맹문의 : 1234-1234 │ 제휴/기타문의 : qkrthgus02@kangwon.ac.kr
                            <br />
                            주소 : 서울특별시 중구 한강대로 416, 서울스퀘어 15층 101호(코멘토)
                            <br />
                            사업자 등록번호 : 123-45-67890
                            <br />
                        </p>
                    </div>

                    <!-- Footer About Text-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <br />
                        <h4> 고객센터 </h4>
                        <br/>
                        <p>
                            운영시간 : 평일 10시 ~ 18시 30분 (주말, 공휴일 제외)
                            <br />
                            점심시간 : 12시 30분 ~ 14시
                            <br />
                            기업 제휴 문의: qkrthgus02@kangwon.ac.kr
                            <br />

                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>qkrthgus02@kangwon.ac.kr</small></div>
        </div>
    </body>
</html>